@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');


html,body,div,span,nav{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
ol,ul{list-style:none;margin:0px;padding:0px;}
.clear{clear:both;}
body{
    font-family:Arial, Helvetica, sans-serif;
}
a{text-decoration:none;}
.wrap{
    width:80%;
    margin:0 auto;
    transition:all .2s linear;
}

/*----start-header-----*/
.header{
    background:#323A45;
    border-bottom:2px solid #00B895;
}
.logo b {
    color:#FFF;
    font-size: 35px;
    float: left;
    padding:5px 0;
    font-family: Lobster;
}
.top-nav{
    float:right;
}
.top-nav ul li{
    display:inline-block;
    float:left;
}
.top-nav ul li a{
    font-family: 'Roboto', sans-serif;
    color: #d6d6d6;
    padding: 42px 16px;
    display: block;
    position: relative;
    text-transform: uppercase;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    font-size: 0.875em;
    position:relative;
}
.top-nav li.active a, .top-nav li a:hover {
    color:#FFF;
    background:#00B895;
}

.discover {
    text-align: center;
    font-size: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, '', Times, serif;
}

button {
    object-position: center;
    border: none;
    padding-top: 100px;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    cursor: pointer;
    font-size: 50px;
    font-family: Balsamiq Sans;
}
h1 {
    text-align: center;
}

h2 {
    font-size: 80px;
    font-family: Lobster;
}

.welcomesl {
    text-align: justify;
    font-size: 25px;
}

.welcomeagain {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wheretogo {
    font-size: 1rem;
    font-size: 50px;
    font-family: Balsamiq Sans;
}

.para {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
}










